/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/api-docs/*.*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
.phpstorm.meta.php
/vendor
/node_modules
/public/data/*
/public/assets/sass/*
.env
composer.lock
.DS_Store
*.scssc
/.idea/*
/config/database.php
_ide_helper.php
.phpstorm.meta.php
